body {
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
}
header{
  background: #2D3338;
  width: 100%;
  height: 6em;
}
.indiceNav{
  color:#7D7D7F;
  font-weight: bold;
  font-size: 2em;
  margin-left: 1em;
  margin-top: 0.5em;
}
nav ul {
  list-style: none;
  display: inline-block;
  overflow: auto;
  margin-left: 32em;
  margin-top: 1.8em;
}
nav ul li {
  padding-left: 1em;
  float: left;
}
nav ul li a{
  text-decoration: none;
  color: #7D7D7F;
  font-size: 1em;
}
nav ul li a:hover {
  font-weight: bold;
}
.hero{
  height: 35em;
  background-image: url(../img/header.jpg);
  background-size: cover;
  color: #FFF;
  -webkit-filter: brightness(50%);
}
.title{
  font-size: 4em;
  text-align: center;
  margin-top: 3em;
}
.subtitle{
  text-align: center;
  font-size: 2em;
}
img{
  border-radius:20em;
  width: 25em;
  margin-left: 6em;
  margin-top: 2em;
}
.contentTitle{
  margin-left: 2em;
  color: grey;
  margin-top: 2em;
  width: 10em;
  font-size: 3em;
}
.cotentParagraph{
  margin-left: 6em;
  color: grey;
  margin-top: 1em;
}
.contentTitleCenter{
  margin-right: 2em;
  color: grey;
  margin-top: 2em;
  width: 10em;
  font-size: 3em;
}
.cotentParagraphCenter{
  margin-right: 6em;
  color: grey;
  margin-top: 1em;
}
footer{
  background: #2D3338;
  width: 100%;
  height: 5em;
}
.footerParagraph{
  color: #FFF;
  text-align: center;
  padding-top: 2em;
}
