@media (min-width:400px) and (max-width:824px){ /*primero siempre colacamos el mínimo*/
  [class*='col-']{ /*para que las columnas ocupen el 100% del ancho cuando llega a cierto tamaño, para acceder a todas las clases*/
    width: 100%;
  }
  .indiceNav {
    display: none;
  }
  header nav {
    display: none;
  }
  .menu_bar {
    display:block;
		width:100%;
		background:#2D3338;
  }
  .menu_bar a{
		display:block;
		text-decoration: none;
    padding: 1em;
    font-size: 2em;
    margin-top: -0.5em;
    color: #7D7D7F;
    font-weight: bold;
	}
  .menu_bar .fa-bars{
    margin-left: 10em;
    color: #7D7D7F;
  }
  .hero {
    height: 45em;
    background-image: url(../img/header.jpg);
    background-size: cover;
    color: #FFF;
    -webkit-filter: brightness(50%);
    padding: 10em;
  }
  .hero .title {
    font-size: 6em;
    width: 4em;
    text-align: center;
  }
  .hero .subtitle {
    text-align: center;
    font-size: 3em;
    width: 10em;
  }
  img  {
    border-radius:20em;
    width: 20em;
    margin-left: 10em;
    margin-top: 0;
  }
  .contentTitle, .contentTitleCenter {
    margin-left: 5em;
    margin-top: 0;
    width: 6em;
    font-size: 3em;
  }
  .cotentParagraph, .cotentParagraphCenter {
    width: 12em;
    margin-left: 15em;
  }
}
